.App {
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  height: 10vh;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hide {
  display: none;
}

.member {
  text-align: center;
  margin-left: 20px;
  cursor: pointer;
  font-size: 20px;
}

.vegan {
  color: green;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

.content {
  margin-top: 20px;
}

.feedback-form {
  color: #9d9a9a;
  width: 400px;
  border-radius: 20px;
  background: #ffffff;
  box-shadow:5px 5px 11px rgba(0,0,0,0.09);
  display: flex;
  justify-content: flex-start;
}

.feedback-form h3 {
  margin-bottom: 5px;
}

.container-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.container-form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.container-form button {
  border: none;
  border-radius: 10px;
  margin-bottom: 1rem;
  width: 50%;
  height: 30px;
  transition: 0.3s ease;
}

.container-form button:hover {
  background: #aceeac;
  transition: 0.3s ease;
}

.feedback-form textarea {
  resize: vertical;
  width: 100%;
  height: 150px;
  padding-left: 10px;
  border-radius: 15px;
  border: none;
  box-shadow:4px 4px 10px rgba(0,0,0,0.09);
}

.feedback-form input {
  width: 200px;
  height: 40px;
  padding-left: 10px;
  border-radius: 15px;
  border: none;
  box-shadow:4px 4px 10px rgba(0,0,0,0.09);
}

.view-form {
  color: #9d9a9a;
  width: 400px;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 5px 5px 11px rgba(0, 0, 0, 0.09);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.view-form h3{
  margin-bottom: 5px;
}

.view-form p {
  margin: 0;
}

.view-form_container {
  margin-left: 2rem;
  margin-top: 1rem ;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.view-form_buttons button {
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  transition: 0.3s ease;
}

.view-form_buttons button:hover {
  background: #eeacac;
  transition: 0.3s ease;
}

.view-form_buttons ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

.view-form_buttons li {
  display: inline-block;
}

.view-form_buttons li:nth-child(2) {
  margin-left: 9rem;
}

.view-form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.clear-data {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 120px;
  height: 50px;
  font-size: 20px;
  background: #efeded;
  border: none;
  border-radius: 15px;
  transition: 0.3s ease;
}

.clear-data:hover {
  background: #eeacac;
  transition: 0.3s ease;
}